@{
    ViewBag.Title = "AddDepartment";
}

@Scripts.Render("~/Areas/OrganizationManager/Scripts/organization.js")
@Scripts.Render("~/Scripts/core/utils.js")


<div class="easyui-panel" id="DepartPanel" title="添加部门" style="font: 15px">
    <form id="formDepart" method="post">
    <table id="InsertTb" class="tablerow">
        <tr>
            <td class="td_title">
                部门名称:
            </td>
            <td>
                <input id="name" name="Name" type="text" class="easyui-textbox" data-options="validType:'length[1,20]',invalidMessage : '真实姓名不能超过6个字', required : true,width:'280'" />
            </td>
            <td style="width: 20%" rowspan="3">
                <input id="depId" name="DepID" type="hidden" />
                <img id="upLogo" src="~/Images/logoyangban.png" width="110" height="110" />
            </td>
        </tr>
        <tr>
            <td class="td_title">
                部门代码:
            </td>
            <td>
                <input class="easyui-textbox" type="text" name="DepCode" data-options="validType : 'length[0,3]', invalidMessage : '代码不能超过3个字',width:'280'" />
            </td>
        </tr>
        <tr>
            <td class="td_title">
                部门摘要:
            </td>
            <td>
                <input id="Remark" class="easyui-textbox" name="Remark" data-options="validType:'length[1,200]',invalidMessage : '部门摘要不会超过200个字',multiline:true,height:'40',width:'280'" />
            </td>
        </tr>
        <tr>
            <td class="td_title">
                部门描述:
            </td>
            <td>
                <input class="easyui-textbox" name="DepDescription" data-options="validType:'length[1,200]',invalidMessage : '部门描述不会超过200个字', required : true, multiline:true,height:'40',width:'280'" />
            </td>
            <td style="width: 20%">
                <a style="margin-left: 20px" id="uploadPic" href="#" class="easyui-linkbutton" onclick="upDepartlogo();">
                    上传logo</a>
                <input type="hidden" name="DepPicName" id="hideImagePath" />
            </td>
        </tr>
        <tr>
            <td class="td_title">
                所属:
            </td>
            <td>
                <select id="subCompany" name="CompanyID" class="easyui-combobox" data-options="required :true,validType :'CheckCombo'">
                </select>
                <input id="subDeparty"/>
                <input type="hidden" id="parentId" name="ParentDepID" />
                <input type="hidden" id="deplevel" value="1" name="DepLevel" />
            </td>
        </tr>
    </table>
    </form>
    <div style="margin-left: 100px; padding: 40px 0 0 40px">
        <a href="javascript:void(0)" class="easyui-linkbutton buttonCss" id="depsubmit" onclick="submitDepForm()">
            提交信息</a> 
       <a href="javascript:void(0)" class="easyui-linkbutton buttonCss" id="EditDepInfo" onclick="EditDepForm()">
            修改信息</a>
       <a href="javascript:window.history.back(-1)" class="easyui-linkbutton buttonCss" id="GoBack">
                    返回</a> 
      <a href="javascript:void(0)" class="easyui-linkbutton buttonCss" id="depclearInfo" onclick="clearDepForm()">
                        清 空</a>
    </div>
    <!------------上传logo------------>
    <div id="AddDiv" style="overflow: hidden">
        <iframe id="AddFrame" frameborder="0" width="100%" height="100%" scrolling="auto">
        </iframe>
    </div>
    <!------------上传logo结束------------>
</div>
