<div id="merchantDialog">
    <div class="easyui-panel" title="查询" data-options="fit:true,border:false">
        <form id="rdpForm" method="post" class="tableProperties" action="">
        <table class="row">
            <tr>
                <td class="td_title">
                    商户名：
                </td>
                <td class="td_text">
                    <label id="rdpMerchantName">
                    </label>
                    <input id="hidRdpMerchantName" name="hidRdpMerchantName" type="hidden" value="" />
                </td>
                <td class="td_title">
                    收入时间：
                </td>
                <td class="td_text">
                    <label id="rdpMerchantIncomeTime">
                    </label>
                    <input id="hidRdpStartTime" name="hidRdpStartTime" type="hidden" value="" />
                    <input id="hidRdpEndTime" name="hidRdpEndTime" type="hidden" value="" />
                    <input id="hidRdpPaymentTime" name="hidRdpPaymentTime" type="hidden" value="" />
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td class="td_title">
                    讲师姓名：
                </td>
                <td class="td_text">
                    <input id="rdpLectureName" class="easyui-textbox" name="rdpLectureName" data-options="required:false,editable:true,onSelect:onSelect" />
                </td>
                <td class="td_title">
                    收入来源：
                </td>
                <td class="td_text">
                    <select id="rdpOrigin" name="rdpOrigin" data-options="editable:false,width:100">
                    </select>
                </td>
                <td class="" colspan="1">
                    <a id="rdpSearch" href="javascript:void(0)" data-options="iconCls:'icon-search'"
                        class="easyui-linkbutton">查 询</a>
                </td>
            </tr>
            <tr>
                <td class="td_title" id="lblPaymentStatus">
                    商户结算状态：
                </td>
                <td class="td_text" id="selectPaymentStatus">
                    <select id="rdpMerchantStatus" name="rdpMerchantStatus" data-options="editable:false,width:171">
                    </select>
                </td>
            </tr>
        </table>
        </form>
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'center'" id="result" style="padding-bottom: 150px; border-left: none;
                border-right: none">
                <table id="rdpDetail" style="height: 90%" data-options="border:false">
                </table>
            </div>
        </div>
    </div>
</div>
