<!--弹出层-->
<div id="acceptDialog">
 <div class="easyui-panel" title="查询" data-options="fit:true,border:false">
  <form id="rdpForm" method="post" class="tableProperties" action="">
   <table class="row">
    <tr>
     <td class="td_title">
      时间：
     </td>
     <td class="td_text">
      <label id="rdpTime">
      </label>
      <input id="hidRdpStartTime" name="hidRdpStartTime" type="hidden" value="" />
      <input id="hidRdpEndTime" name="hidRdpEndTime" type="hidden" value="" />
      <input id="hidRdpInterval" name="hidRdpInterval" type="hidden" value="" />
     </td>
    </tr>
    <tr>
     <td class="td_title">
      讲师姓名：
     </td>
     <td class="td_text">
      <input id="rdpLectureName" class="easyui-textbox" name="rdpLectureName" data-options="required:false,editable:true,onSelect:onSelect" />
     </td>
     <td class="td_title">
      收入来源：
     </td>
     <td class="td_text">
      <select id="rdpOrigin" name="rdpOrigin" data-options="editable:false,width:100">
      </select>
     </td>
    </tr>
    <tr>
     <td class="td_title">
      商户结算状态：
     </td>
     <td class="td_text">
      <select id="rdpMerchantStatus" name="rdpMerchantStatus" data-options="editable:false,width:171">
      </select>
     </td>
     <td class="td_title">
      讲师结算状态：
     </td>
     <td class="td_text">
      <select id="rdpLectureStatus" name="rdpLectureStatus" data-options="editable:false,width:100">
      </select>
     </td>
     <td class="">
      <a id="rdpSearch" href="javascript:void(0)" data-options="iconCls:'icon-search'"
         class="easyui-linkbutton">查 询</a>
     </td>
    </tr>
   </table>
  </form>
   <div class="easyui-layout"  data-options="fit:true" >
    <div data-options="region:'center'" id="result" style="padding-bottom: 90px; border-left: none;border-right: none">
     <table id="rdpDetail" style="height: 80%" data-options="border:false">
     </table>
    </div>
    </div>
 </div>
</div>
